// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* SCSS HEX */
$light-cornflower-blue: #8ecae6ff;
$sky-blue: #73bfdcff;
$maximum-blue: #58b4d1ff;
$blue-green: #219ebcff;
$blue-sapphire: #126782ff;
$prussian-blue: #023047ff;
$honey-yellow: #ffb703ff;
$orange-peel: #fd9e02ff;
$orange-stalk: #fb8500ff;
$yellow-orange-color-wheel: #fb9017ff;
