<h1>Hi <%= @user.username %></h1>

<p>
  Please go to <a href="www.clickandstalk.com/dashboard">Click&Stalk</a> to checkout your cyber image
</p>

<p>
  You will have all the information to improve your cyber image for your next job application
</p>
