// Import page-specific CSS files here.
@import "home";

// LINKEDIN PAGE
.linkedin span {
  color: $blue-sapphire;
  font-weight: bold;
}

.title-container {
  justify-content: center;
  align-self: center;
  text-align: center;
  h1 {
    display: inline-block;
    color: $blue-sapphire;
    font-size: 60px;
  }
}

.social-media-pages {
  p {
    font-size: 20px;
  }
}

.skills {
  display: inline-flex;
  font-size: 12px;
  margin: 10px 40px;
  justify-content: center;
  li {
    font-size: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
  }
}

// TWITTER PAGE

.li {
    list-style-type: none;
    text-align: center;
}

// INSTAGRAM PAGE
