// Import page-specific CSS files here.
@import "home";

// LINKEDIN PAGE
.final-score {
  margin: 30px 0;
  padding: 30px 30px;
  background-color: $blue-sapphire;
  color: white;
  border-radius: 10px;
  border: 3px solid white;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
  .user-name {
    font-weight: bold;
  }
}


.title-container {
  justify-content: center;
  align-self: center;
  text-align: center;
  h1 {
    display: inline-block;
    color: $blue-sapphire;
    font-size: 60px;
  }
}

.social-media-pages {
  p {
    font-size: 20px;
  }
}

.skills {
  font-size: 12px;
  margin: 10px 40px;
  justify-content: center;
  padding-left: 0px;
  li {
    font-size: 15px;
    list-style-type: none;
  }
}

// TWITTER PAGE


// INSTAGRAM PAGE
