// Import page-specific CSS files here.
@import "home";

// LINKEDIN PAGE
.user-score {
  flex-direction: column;
  margin: 30px 0;
  padding: 30px 30px;
  background-color: white;
  color: #126782ff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  opacity: 0.9;
  text-align: center;
  align-items: center;
  display: flex;
  .user-name {
    font-weight: bold;
  }
  h1 {
    display: inline-block;
    color: $blue-sapphire;
    font-size: 60px;
  }
  span {
    color: #d62828;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  #score-data {
    margin-top: 40px;
  }
  #missing-data {
    text-align: center;
    margin-top: 40px;
    ul {
      padding-left: 0px;
    }
    ul > li {
      list-style-type: none;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $blue-green;
      border: 1px solid $blue-green;
      border-radius: 50px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 15px;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        color: #d62828;
        border: 1px solid #d62828;
      }
    }
    a {
      text-decoration: none;
      color: $blue-sapphire;
    }
  }
}

.circle {
  width: 150px;
  height: 150px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  border: 7px solid #d62828;
  p {
    color: #d62828;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
  }
}


.title-container {
  justify-content: center;
  align-self: center;
  text-align: center;
  h1 {
    display: inline-block;
    color: $blue-sapphire;
    font-size: 60px;
  }
}

.social-media-pages {
  p {
    font-size: 20px;
  }
}

.skills {
  font-size: 12px;
  margin: 10px 40px;
  justify-content: center;
  padding-left: 0px;
  li {
    font-size: 15px;
    list-style-type: none;
  }
}

// TWITTER PAGE

.li {
    list-style-type: none;
    text-align: center;
}

.circle-twi {
    background: $blue-sapphire;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    line-height:90px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    margin-right: 25px;
    margin-left: 25px;
    letter-spacing: 1.5px;
    font-size: 12px;
  p { padding-top: 10px;
  }

}

.card-tweet {
  border-radius: 6px;
  background-color: white;
  border: 1px dashed $blue-sapphire;
  opacity: 0.9;
  color: $blue-sapphire;
  padding: 20px 20px;
  margin: 20px 20px;
  font-size: 20px;
}


.tweet {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.card-mistake {
  color: #d62828;
  padding: 20px 20px;
  margin: 20px 20px;
  font-size: 20px;
  font-weight: bold;
}



// .mistakes {
//   display: block;
//   top: 0px;
//   position: relative;
//   width: 400px;
//   height: 400px;
//   background-color: #F4F4F4;
//   box-shadow: 0px 2px 4px #fb8500ff;
//   box-shadow: rgba(38, 38, 38, 0.2);
//   margin: 0 auto;
//   margin-top: 50 px;
//   display: center;
//   text-align: center;
//   font-family: Roboto;
//   background: white;
  // background: -webkit-linear-gradient(bottom, top, #F4F4F4,#F4F4F4 30%, white 30%, white);
// }

.circle-mis
{
  font-size: 50px;
  border: 1px solid #fb8500ff;
    width: 140px;
    height: 100px;
    line-height:90px;
    font-weight: bold;
    color: #126782ff;
    border-radius: 25% 10%;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    display: center;
    text-align: center;
    line-height:90px;
    display: inline-block;

}

// INSTAGRAM PAGE
