

<div class="container">

  <div class="container d-flex flex-wrap justify-content-around mt-2 mb-5">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back twitter">
          <h1>Twitter</h1>
          <p>We'll collect tweets you've posted</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back insta">
          <h1>Instagram</h1>
          <p>We'll collect pictures you've shared</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834011_1280.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back linkedin">
          <h1>Linkedin</h1>
          <p>We'll collect the information from your profile and your CV: <span>name, picture, experiences</span> flejsd fdqa fwodflkslsd,f lsdfk dlfnw  oilfkn ddweo lknasd del lf ej fwelnkd</p>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Link my Twitter profile to Click & Stalk", user_twitter_omniauth_authorize_path %><br />
</div>
