<div class="main-banner" style="height: 18rem;">
  <h1><strong>My Social Media Analysis</strong></h1>
</div>
<br> <br>
 <h3 style="text-align: center"> We just stalked you ! Here is the data we collected about you...👀 </h3>
<br> <br>

<div class="main-card">

  <div class="card-linkedin">
    <strong>
      LINKEDIN
    </strong>
    <br>  <br>
    <div>
      Your feed
    </div>
    <br>
    <div>
      Your are currently employed at Google as a full-stack developer !
    </div>
    <br>
    <div>
      Please check your spelling mistakes : "Helllo", "three job"
    </div>
    <br>
    <div>
      It's missing : experiences between 2018 and your current job
    </div>
  </div>


  <div class="card-twitter ">
  <strong>
  TWITTER
  </strong>
    <br> <br>
   <div>
    Your feed
    </div>
    <br>
     <div>
    You have been using the word "squirrel" and "tacos" a lot lately
    </div>
    <br>
  </div>

  <div class="card-insta card-white">

  <strong>
  INSTAGRAM
  </strong>
  <br>  <br>

   <div>
    Your feed
    </div>
    <br>
   <div>
    Your 3 most liked photos
    </div>
    <br>
     <div>
    You have been in Italy, Spain and Costa Rica in the past year
    </div>
</div>





</div>

<div class="bottom-page text-center">
  <%= link_to 'Back to homepage', root_path, class: 'btn btn-check' %>
</div>


