  <div class="page-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80)">
  <div class="title-container">
   <h1><strong>My Social Media Analysis</strong></h1>
  </div>
</div>
<br> <br>
 <h3 style="text-align: center"> We just stalked you ! Here is the data we collected about you...👀 </h3>
<br> <br>

<div class="main-card">

  <div class="card-linkedin">
    <strong>
      LINKEDIN
    </strong>
    <br>  <br>
    <div>
      Your feed
    </div>
    <br>
    <div>
      Your are currently employed at Google as a full-stack developer !
    </div>
    <br>
    <div>
      Please check your spelling mistakes : "Helllo", "three job"
    </div>
    <br>
    <div>
      It's missing : experiences between 2018 and your current job
    </div>
    <br>
    <%=link_to "More info", linkedin_path, class:"btn btn-log" %>
  </div>


  <div class="card-twitter ">
  <strong>
  TWITTER
  </strong>
    <br> <br>
   <div>
    Your feed
    </div>
    <br>
     <div>
    You have been using the word "squirrel" and "tacos" a lot lately
    </div>
    <br>
    <%=link_to "More info", twitter_path, class:"btn btn-log" %>
  </div>

  <div class="card-insta card-white">

  <strong>
  INSTAGRAM
  </strong>
  <br>  <br>

   <div>
    Your feed
    </div>
    <br>
   <div>
    Your 3 most liked photos
    </div>
    <br>
     <div>
    You have been in Italy, Spain and Costa Rica in the past year
    </div>
     <br>
    <%=link_to "More info", instagram_path, class:"btn btn-log" %>
</div>





</div>

<div class="bottom-page text-center">
  <%= link_to 'Back to homepage', root_path, class: 'btn btn-check' %>
</div>


