  <div class="card-title title-1">
    <h1>Profile</h1>
  </div>
  <div class="card-details d-flex">
    <div class="twin-1">
      <h3 style="white-space: pre-wrap;">Avatar</h3>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", style:"width:120px;", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <p>In fact, studies have found that your LinkedIn profile is <span>40% more likely</span> to be clicked on if it contains a profile picture.</p>
      <!-- <% if avatar user empty? %>
      <p><span><em>Add yours!</em></span></p>
      <% else %>
      <p><span><em>You're on the right side!</em></span></p>
      <% end %> -->
    </div>
