<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Instagram</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>


<div class="container social-media-pages">


  <div class="cards">
    <div class="card-title">
      <h1 style="white-space: pre-wrap;">Pictures <i class="fas fa-camera-retro"></i></h1>
    </div>
    <div class="card-details-insta">
      <h3 style="white-space: pre-wrap;">Top 5 of most liked pictures</h3>
      <div class="content d-flex">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
      </div>
    </div>
  </div>


  <div class="cards">
    <div class="card-title">
      <h1 style="white-space: pre-wrap;">Videos <i class="fas fa-video"></i></h1>
    </div>
    <div class="card-details-insta">
      <h3 style="white-space: pre-wrap;">Top 5 of most liked pictures</h3>
      <div class="content d-flex">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-title warning">
      <h1 style="white-space: pre-wrap; color: red;">NUDITY WARNING <i class="fas fa-exclamation-triangle"></i></h1>
    </div>
    <div class="card-details-insta">
      <h3 style="white-space: pre-wrap;">2 pictures were found in our nudity detector!</h3>
      <div class="content d-flex">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
        <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card-title">
      <h1 style="white-space: pre-wrap;">Favorite spots <i class="fas fa-map-marker-alt"></i></h1>
    </div>
    <div class="card-details-insta">
      <h3 style="white-space: pre-wrap;">Top 5 of most visited places</h3>
      <div class="content d-flex">
        <ul class="skills flex-wrap">
            <li><a href="">Lyon</a></li>....
            <li><a href="">Lyon</a></li>
            <li><a href="">Lyon</a></li>
            <li><a href="">Lyon</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="social-link link-insta text-center">
    <h3><i class="fas fa-arrow-circle-down"></i> Click to make changes <i class="fas fa-arrow-circle-down"></i></h3>
    <%= link_to '', "https://www.instagram.com/#{current_user.username_insta}", target:"_blank", style:"text-decoration: none;", class:"fab fa-fw fa-instagram" %>
  </div>

  <div class="text-center">
    <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
  </div>

</div>


