<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Instagram</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>

<div class="container">
  <div class="card-details">
    <h1>Profil</h1>
    <h3 style="white-space: pre-wrap;">Aperçu...</h3>
    <p>Vous avez <span>481 followers</span>, vous avez voyagé dans <span>8 pays étrangers</span> ...</p>
  </div>

  <div class="card-details">
    <h1>Photos</h1>
    <h3 style="white-space: pre-wrap;">These people appears many times on your feed :</h3>
    <div class="photos d-flex justify-content-center mb-5">
      <img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
      <img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
      <img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
    </div>
    <h4 style="white-space: pre-wrap;">NUDITY WARNING!</h4>
    <p>Vous avez <span>2 photos dénudées</span> sur votre profil !</p>
    <div class="photos d-flex justify-content-center mb-5">
      <img class="avatar-square" alt="avatar-square" src="https://leakedpie.com/wp-content/uploads/2017/07/Kim-Kardashian-undressed-for-paper-magazine-with-black-gloves-on.jpg" />
      <img class="avatar-square" alt="avatar-square" src="https://leakedpie.com/wp-content/uploads/2017/07/Kim-Kardashian-nipples-showing-through-white-wet-top-e1499386327865.jpg" />
    </div>
  </div>

  <div class="card-details">
    <h1>Geolocalisation</h1>
    <h3 style="white-space: pre-wrap;">Your travel spots</h3>
    <p>You have been to <span>Japan, Egypt, Caiman Islands and Mexico</span>........</p>
  </div>


   <div class="text-center">
    <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
    </div>

</div>
