<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Instagram</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>

<div class="container">

  <div class="cards text-center ">
    <div class="card-title">
      <h1 style="white-space: pre-wrap; margin-top: 50px;"><i class="fas fa-grin-beam-sweat" style="color:#126782ff"></i></i></h1>
    </div>
    <div class="card-details mt-5">
      <h3> Hey <%= current_user.username %>! We are sorry, we are trying to improve this section.<br> For now it's disabled <i class="fas fa-frown"></i></h3>
    </div>
  </div>
</div>

<div class="text-center">
    <%= link_to "Back to Homepage", root_path, class:"btn btn-back" %>
</div>
