<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Linkedin</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834011_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>


<div class="container">
  <div class="card-details">
    <h1>Profile</h1>
    <h3 style="white-space: pre-wrap;">No Avatar</h3>
    <p>Increase your chances to enter the Linkedin algorithm by adding a profil picture!</p>
    <h3 style="white-space: pre-wrap;">Lack of connections</h3>
    <p>You have <span>less than 100 connections</span>, find more people you know and connect! </p>
  </div>

  <div class="card-details">
    <h1>Experiences</h1>
    <h3 style="white-space: pre-wrap;">Gap year or omission ?</h3>
    <p>You haven't worked <span>since 2018</span>. Update your profile, tell the employers what you've been doing!</p>
  </div>

  <div class="card-details">
    <h1>Education</h1>
    <h3 style="white-space: pre-wrap;">Diploma level</h3>
    <p>Your last and current diploma is <span>Sustainable project management</span>. Is this correct ?</p>
  </div>

  <div class="card-details">
    <h1>Skills</h1>
    <h3 style="white-space: pre-wrap;">Lack of skills</h3>
    <p>Everyone has skills! Add skills so that recruiters can spot you according to what they need.</p>
  </div>

   <div class="text-center">
    <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
    </div>

</div>
