<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Twitter</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>
