<div class="page-banner">
  <div class="title-container d-flex flex-wrap">
    <h1><span>Twitter</span></h1>
    <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" style="width: 150px;height: 150px;">
    <h1>cyber-image</h1>
  </div>
</div>

<div class="container">
  <div class="card-details">
    <h1>Profile</h1>
    <h3 style="white-space: pre-wrap;">No Avatar</h3>
    <p>Increase your chances to enter the Linkedin algorithm by adding a profil picture!</p>
    <h3 style="white-space: pre-wrap;">Lack of connections</h3>
    <p>You have <span>less than 100 connections</span>, find more people you know and connect! </p>
  </div>

  <div class="card-details">
    <h1>Words</h1>
    <h3 style="white-space: pre-wrap;">Favorite words</h3>
    <p>You've used <span>78 times </span> ' dudes ' in your last 200 tweets.</p>
    <p>You've used <span>44 times </span> ' damn ' in your last 200 tweets.</p>
    <p>You've used <span>21 times </span> ' amazing ' in your last 200 tweets.</p>
  </div>

  <div class="card-details">
    <h1>Hashtags</h1>
    <h3 style="white-space: pre-wrap;">Favorite hashtags</h3>
    <p><span>#backfriday #nasa #blacklivesmatter #tmtc #IamWithFarmers</span></p>
  </div>

   <div class="text-center">
    <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-back" %>
  </div>
</div>
