<div class="container">

  <div class="cards text-center ">
    <div class="card-title">
      <h1 style="white-space: pre-wrap; margin-top: 50px;">IN PROCESS...</i></h1>
    </div>
    <div class="card-details mt-5">
      <h3> Hey <%= current_user.username %>! We are stalking you right now, in a friendly way of course. <i class="far fa-smile-wink" style="color:black"></i><br>You will receive an email when we are done.</h3>
    </div>
  </div>
</div>

<div class="text-center">
    <%= link_to "Back to Homepage", root_path, class:"btn btn-back" %>
  </div>
