<div class="banner">
  <div class="title-container">
    <div class="title-light">
      <p>We are all about friendly-stalking, <br>to invite you to be more aware <br> of your <span>cyber-image</span>.</p>
    </div>
    <a class="btn btn-check" href="#">Stalk yourself !</a>
  </div>
</div>




