<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/mailyscode/clickandstalk"><i class="fab fa-fw fa-github"></i></a>
    <a href="https://www.linkedin.com/company/clickandstalk"><i class="fab fa-fw fa-linkedin"></i></a>
    <a href="https://www.instagram.com/clickandstalk/"><i class="fab fa-fw fa-instagram"></i></a>
    <a href="https://www.twitter.com/clickandstalk/"><i class="fab fa-fw fa-twitter"></i></a>
  </div>
  <div class="footer-line">
    <p>© Click&Stalk - Wagon Trio  🔎</p>
  </div>
</div>
