<%= render 'shared/banner' %>

<div class="container main-page">

<div class="offer d-flex">
  <div class="offer-child">
    <h3 class="clickandstalk">Click <span>&</span> Stalk</h3>
  </div>
  <h4>offers you the opportunity to make a <strong>quick check-up</strong> of your cyber-image, <br>to see <strong>what stands out</strong> the most of your personality on social networks.</h4>
</div>

<hr>

  <div class="collect-info stats">
    <h1>What you should know<br><strong>while applying for a job</strong></h1>
    <ul class="gradient-list">
    <li><span>98%</span> of recruiters do background research about candidates online. <div class="info-source"> (The Manifest 2020 Recruitment survey)</div></li>
    <li><span>79%</span> have rejected a candidate based on their social media content. <div class="info-source"> (The Manifest 2020 Recruitment survey)</div></li>
    <li><span>43%</span> use social media to check on current employees. <div class="info-source"> (2018 CareerBuilder survey)</div></li>
    </ul>

<hr><br><br>

    <h1>What data do we collect ?</h1>
    <h6>All data collected by Click&Stalk comes from <strong>YOU</strong>, this is what you <strong>publicly and willingly</strong> shared on these networks. We just gather it up !
  </h6>

    <div class="linkedin-collect d-flex">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834011_1280.png" style="width: 150px;height: 150px;">
      <div class="collect-details">
        <p>Public information from your profile and your CV such as <strong>avatar, headline, experiences and education</strong></p>
      </div>
    </div>

    <div class="instagram-collect d-flex">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width: 150px;height: 150px;">
      <div class="collect-details">
        <p><strong>Pictures</strong> you've shared on your instagram wall and the location tag related.</p>
      </div>
    </div>

    <div class="twitter-collect d-flex">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" style="width: 150px;height: 150px;">
      <div class="collect-details">
        <p><strong>Tweets</strong> you've posted on your Twitter account and posts you've re-tweeted, that's all!</p>
      </div>
    </div>
  </div>

  <hr>

<div class="container flipcards text-center">
  <h1>What is your cyber-image responsibility ?</h1>
  <h6>Flip the cards !</h6>
  <div class="d-flex flex-wrap justify-content-around mt-2 mb-5">

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://images.unsplash.com/photo-1502663656924-a7163d645e0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back linkedin">
          <h2>Do you have an agent ?</h2>
          <br><p>Is there someone making decisions on your behalf everyday ?</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back instagram">
          <h2>Are you being followed everyday ?</h2>
          <br><p>Do paparazzis take pictures of you without your consent ?</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= image_tag("beyonce.jpg") %>
        </div>
        <div class="flip-card-back twitter">
          <h1 class="text-white">Are you Beyoncé !?</h1>
        </div>
      </div>
    </div>
  </div>

<div class="answers d-flex flex-wrap justify-content-around">
    <div class="flip-answer">
      <div class="flip-answer-inner">
        <div class="flip-answer-front answer">
          <h3>Your answer is <span>NO</span> ?</h3>
        </div>
        <div class="flip-answer-back answer">
          <h3>Therefore, it is <span>your own</span> responsability.</h3>
        </div>
      </div>
    </div>

    <div class="flip-answer">
      <div class="flip-answer-inner">
        <div class="flip-answer-front answer">
          <h3>Your answer is <span>YES</span> ?</h3>
        </div>
        <div class="flip-answer-back answer">
          <h3>Sorry, <span>Queen Bee</span> !</h3>
        </div>
      </div>
    </div>
</div>

</div>
  <br>

  <div class="text-center">
      <%= link_to "Stalk me friendly!", connect_path, class:"btn btn-check btn-lg" %>
  </div>
</div>

