<%= render 'shared/banner' %>

<div class="container">
<h1>Pages#home</h1>
<p>At Click&Stalk, we believe that your data belongs to you but also, that you are responsible for your cyber-image (when your only paparazzi is you!)</p>

The last thing you want is to be subjected to the image you project on social networks, especially with an employer!
"Click & Stalk" offers you the opportunity to make a quick check-up of your cyber-image, to see in a few clicks what stands out the most of your personality on social networks.
All the data collected to do this comes from YOU, this is what you willingly shared to the cyber-world.

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Instagram</h1>
      <p>We'll collect pictures you've shared</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Twitter</h1>
      <p>We'll collect tweets you've posted</p>
    </div>
  </div>
</div>

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>Linkedin</h1>
      <p>We'll collect your CV</p>
    </div>
  </div>
</div>
</div>
