<%= render 'shared/banner' %>

<div class="container">
<p>Do you have a personal community manager who writes for you ? Are there paparazzi all around you ? Do you have an agent who acts on your behalf ?</p>
<p>Are you Beyoncé ? or some President ? If not, welcome to the world of personal cyber-responsability ! On the contrary, we probably have a whole $10,000+ long-term social image plan running, so you already know what to expect!</p>

The last thing you want is to be subjected to the image you project on social networks, especially with an employer!
"Click & Stalk" offers you the opportunity to make a quick check-up of your cyber-image, to see in a few clicks what stands out the most of your personality on social networks.

  <h2 class="text-center">Here's what we will collect from :</h2>

  <div class="container d-flex flex-wrap justify-content-around mt-2 mb-5">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back twitter">
          <h1>Twitter</h1>
          <p>We'll collect tweets you've posted</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back insta">
          <h1>Instagram</h1>
          <p>We'll collect pictures you've shared</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834011_1280.png" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back linkedin">
          <h1>Linkedin</h1>
          <p>We'll collect the information from your profile and your CV: <span>name, picture, experiences</span> flejsd fdqa fwodflkslsd,f lsdfk dlfnw  oilfkn ddweo lknasd del lf ej fwelnkd</p>
        </div>
      </div>
    </div>
  </div>
  All the data collected to do this comes from YOU, this is what you willingly shared to the cyber-world.
</div>

</div>
