<%= render 'shared/banner' %>

<div class="container">

<div class="offer d-flex">
  <p>The last thing we want is to be subjected to the image we project on social networks, especially with an employer!</p>
  <div class="offer-child">
    <h3 class="clickandstalk">Click <span>&</span> Stalk</h3>
  </div>
  <h4>offers you the opportunity to make a quick check-up of your cyber-image, to see what stands out the most of your personality on social networks.</h4>
</div>


<hr>

  <div class="collect-info">
    <h2 class="text-center">What data do we collect ?</h2>
    <h6>All the data collected by Click&Stalk comes from <span>YOU</span>, this is what you <span>publicly and willingly</span> shared on these social media. We just gather it up !
  </h6>

    <div class="twitter-collect d-flex">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834013_1280.png" style="width: 150px;height: 150px;">
      <div class="collect-details">
        <p><span>Tweets</span> you've posted on your Twitter account and posts you've re-tweeted, that's all!</p>
      </div>
    </div>

    <div class="instagram-collect d-flex">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834010_1280.png" style="width: 150px;height: 150px;">
      <div class="collect-details">
        <p><span>Pictures</span> you've shared on your instagram wall and the location tag related.</p>
      </div>
    </div>

    <div class="linkedin-collect d-flex">
      <img src="https://cdn.pixabay.com/photo/2016/11/18/11/16/social-1834011_1280.png" style="width: 150px;height: 150px;">
      <div class="collect-details">
        <p>Public information from your profile and your CV such as <span>avatar, headline, experiences and education</span></p>
      </div>
    </div>
  </div>

  <hr>

  <div class="container d-flex flex-wrap justify-content-around mt-2 mb-5">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= image_tag("beyonce.jpg") %>
        </div>
        <div class="flip-card-back twitter">
          <h1>Are you Beyoncé ?</h1>
          <p>Do you have a long-term social-image plan, set by your agent who figures out what, where and when to take pictures of yourself ?</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://images.unsplash.com/photo-1499087666200-e07e9c631266?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back instagram">
          <h1>Are you followed ?</h1>
          <p>Do paparazzis take pix of you without your consent ?</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="https://cdn.pixabay.com/photo/2017/10/22/22/16/business-2879465_1280.jpg" alt="Avatar" style="width:300px;height:300px;">
        </div>
        <div class="flip-card-back linkedin">
          <h1>Do you have an agent ?</h1>
          <p>Is there someone making decisions on your behalf everyday ?</p>
        </div>
      </div>
    </div>
  </div>

If not, welcome to the world of personal cyber-responsability ! On the contrary, we probably have a whole $10,000+ long-term social image plan running, so you already know what to expect!</p>
  <hr>

  What does STALK mean ?
  The main stem of a herbaceous plant./
  Stride somewhere in a proud, stiff, or angry manner./
  Harass or persecute (someone) with unwanted and obsessive attention./
  A person who hunts game stealthily.

</div>

