<%= render 'shared/banner' %>

<div class="container">
<h1>Pages#home</h1>
<p>At Click&Stalk, we believe that your data belongs to you but also, that you are responsible for your cyber-image (when your only paparazzi is you!)</p>




What we offer here is to collect data that you have willingly shared on 3 social networks and summarize it for you to see what stands out the most about your personality on the social networks.
</div>
