
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


This is friendly stalking!
What we propose here is to collect data that you have willingly shared on 3 social networks and summarize it for you to see what stands out the most about your personality on the social networks.
