.banner {
  height: 100vh;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  color: #eee;
  text-align: center;
  padding: 170px 0;
  .title-container {
    margin-right: 50px;
    margin-left: 50px;
    text-align: left;
    h1 {
      margin: 0;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 32px;
    }
    p {
      font-size: 40px;
      font-weight: lighter;
      color: white;
    }
    span {
      font-weight: bold;
      letter-spacing: 1.5px;
    }
  }
}

.page-banner {
  height: 150px;
  background-position: center;
  background-size: cover;
  color: #eee;
  text-align: center;
  padding: 120px 0;
  .title-container {
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    p {
      font-size: 40px;
      font-weight: lighter;
      color: white;
    }
    span {
      font-weight: bolder;
      letter-spacing: 1.5px;
    }
  }
}
