.btn-log {
  color: $blue-sapphire;
  border: 1px solid $blue-sapphire;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.2s ease;
  margin-bottom: 20px;
}

.btn-back {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $prussian-blue;
  border: 1px solid $prussian-blue;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: $blue-green;
    border: 1px solid $blue-green;
  }
}

.btn-check {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: $orange-peel;
  border: 1px solid $orange-peel;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: $maximum-blue;
    border: 1px solid $maximum-blue;
  }
}

.link {
  color: black;
  font-size: 25px;
  background-image: linear-gradient(to bottom, transparent 65%, $light-cornflower-blue 0);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size .4s ease;
}

.link:hover {
  text-decoration: none;
  color: black;
  background-size: 100% 100%;
  cursor: pointer;
}
