.main-card{
display: flex;
justify-content: center;
}


.card-insta{
  display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #0072b1;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 25px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-family: Roboto;
  background: white;
  position: center;


}

.card-twitter{
  display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #0072b1;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 25px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-family: Roboto;
  background: white;
}

.card-linkedin{
 display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #0072b1;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 25px;
  text-align: center;
  font-family: Roboto;
  background: white;
  // background: -webkit-linear-gradient(bottom, top, #F4F4F4,#F4F4F4 30%, white 30%, white);
 }


.card-title {
  color: $blue-sapphire;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h3 {
    font-size: 40px;
  }
}

.card-details {
  border-radius: 6px;
  background-color: white;
  border: 1px dashed $blue-sapphire;
  opacity: 0.9;
  color: $blue-sapphire;
  padding: 10px 20px;
  margin-bottom: 70px;
  height: fit-content;
  text-align: center;
  justify-content: center;

  p {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    align-self: center;
  }
  h3 {
    text-align: center;
    color: $blue-sapphire;
  }
  span {
    color: #d62828;
    font-weight: bold;
  }
}

.card-details-insta {
  border-radius: 6px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.4);
  opacity: 0.9;
  color: $blue-sapphire;
  padding: 50px 20px;
  margin-bottom: 70px;
  height: fit-content;
  text-align: center;
  justify-content: center;
  p {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    align-self: center;
  }
  h3 {
    text-align: center;
    color: $blue-sapphire;
    margin-bottom: 20px;
  }
  span {
    color: #d62828;
    font-weight: bold;
  }
  .content {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    img {
      width: 200px;
      height: 200px;
      margin: 20px 20px;
    }
  }
}



