.main-card{
display: flex;
justify-content: center;
}


.card-insta{
  display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #8a3ab9;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-family: Roboto;
  background: white;
  position: center;


}

.card-twitter{
  display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #1DA1F2;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-family: Roboto;
  background: white;
}

.card-linkedin{
 display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #0072b1;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 12px;
  text-align: center;
  font-family: Roboto;
  background: white;
  // background: -webkit-linear-gradient(bottom, top, #F4F4F4,#F4F4F4 30%, white 30%, white);
 }


.card-details {
    padding: 10px 10px;
    margin-top: 12px;
    margin-bottom: 10px;
    height: fit-content;
    background-color: #F4F4F4;
    box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.5);
    border-radius: 4px;
    border: 1px solid #F4F4F4;
    text-align: center;
    p {
      margin-bottom: 50px;
    }
    h3 {
      text-align: center;
      color: $blue-sapphire;
    }
    h4 {
      color: $orange-stalk;
      font-size: 30px;
      font-weight: bold;
    }
  }

