.main-card{
display: flex;
justify-content: center;
}


.card-insta{
  display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #8a3ab9;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-family: Roboto;
  background: white;
  position: center;


}

.card-twitter{
  display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #1DA1F2;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-family: Roboto;
  background: white;
}

.card-linkedin{
 display: block;
  top: 0px;
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px #0072b1;
  box-shadow: rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  padding: 20px 14px;
  margin: 12px;
  text-align: center;
  font-family: Roboto;
  background: white;
  // background: -webkit-linear-gradient(bottom, top, #F4F4F4,#F4F4F4 30%, white 30%, white);
 }


.card-title.title-1 {
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: $blue-sapphire;
  border: 2px solid $blue-sapphire;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.card-title.title-2 {
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: $maximum-blue;
  border: 2px solid $maximum-blue;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.card-title.title-3 {
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: $maximum-blue;
  border: 2px solid $maximum-blue;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.card-title.title-4 {
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: $light-cornflower-blue;
  border: 2px solid $light-cornflower-blue;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.card-title.title-warning {
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: $orange-stalk;
  border: 2px solid $orange-stalk;
  width: 700px;
  margin: 0 auto;
  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.card-details {
  padding: 10px 10px;
  margin-bottom: 50px;
  height: fit-content;
  background-color: #F4F4F4;
  box-shadow: 0px 2px 4px rgba(38, 38, 38, 0.1);
  border-radius: 4px;
  border: 1px solid #F4F4F4;
  text-align: center;
  p {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }
  h3 {
    text-align: center;
    color: $blue-sapphire;
  }
}



