/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  margin-top: 25px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 1px 1px 8px rgba(100, 100, 100, 0.5);
}

/* Style the back side */
.flip-card-back {
  color: white;
  font-family: Roboto;
  padding: 40px 30px;
  transform: rotateY(180deg);
  border-radius: 3px;
  box-shadow: 1px 1px 8px rgba(100, 100, 100, 0.5);
  h1, h2 {
    font-weight: bold;
  }
  h1 {
    padding: 50px 0px;
  }
  p {
    text-align: center;
    font-size: 18px;
    span {
      font-weight: bold;
      letter-spacing: 1.3px;
    }
  }
}

.flip-card-back.instagram {
    background: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1615&q=80");
  }

.flip-card-back.linkedin {
    background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHw%3D&auto=format&fit=crop&w=600&q=60");
  }

.flip-card-back.twitter {
    background-image: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1615&q=80");
  }
