.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  background-color: $blue-sapphire;
  .footer-links  {
    display: flex;
    align-items: center;
  }
  p {
  font-family: Roboto;
  color: white;
  font-size: 16px;
  margin-bottom: 0;
  }  a {
  color: $honey-yellow;
  width: 30px;
  font-size: 24px;
  margin-right: 20px;
  }

}
