.footer {
  text-align: center;
  padding: 15px;
  background-color: $blue-sapphire;
  // position: absolute;
  // bottom: 0;
  width: 100%;
  p {
  font-family: Roboto;
  color: white;
  font-size: 18px;
  }
  a {
  color: $orange-stalk;
  width: 30px;
  font-size: 18px;
  }
}
