// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "pages/index";
@import "users/login";
@import "components/index";
@import "components/button";
@import "components/banner";
@import "components/footer";
@import "components/flipcard";
@import "components/card";
@import "components/container";
@import "components/percentage";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}

h1 {
  font-family: Roboto;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.clickandstalk {
  text-align: center;
  margin-right: 10px;
  font-size: 80px;
  color: $blue-sapphire;
  font-weight: bold;
  span {
    color: $honey-yellow;
  }
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70vw;
}

a {
  text-decoration: none;
}
