.login {
  margin-top: 30px;
  background-color: white;
  padding: 25px 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(100, 100, 100, 0.5);
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: 25px;
  }
}
